<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let data of isiData | async" [routerLink]="['/tab3',data.Judul, data.Isi, data.Tanggal, data.Nilai, data.Gambar]">
    <ion-item>
      <h1>{{data.Judul}}</h1> <br>
      <p>{{data.Isi}}</p> <br>
      <p>{{data.Tanggal}}</p> <br>
      <p>{{data.Nilai}}</p> <br>
      <ion-img [src]="data.Gambar"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
